p {
  margin: 0;
}

input, select, textarea {
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  background-color: #faf7f3;
  border: 1px solid gray;
}

input[disabled] {
  background-color: #a8a6a3;
}

.left-panel *, .right-panel * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.left-panel h1, .right-panel h1 {
  font-size: 28px;
}
.left-panel h2, .right-panel h2 {
  font-size: 24px;
}
.left-panel h3, .right-panel h3 {
  font-size: 20px;
}

.App {
  display: flex;
  min-height: 100vh;
}

.left-panel {
  min-width: 300px;
  width: 300px;
  background: #dcd9d5;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
}
.left-panel .left-side {
  border-right: 1px solid rgba(37, 37, 37, 0.5);
  width: 100px;
}
.left-panel .left-side .divider {
  height: 1px;
  width: 100%;
  background: rgba(37, 37, 37, 0.5);
}
.left-panel .left-side .item {
  transform: scale(0.9);
  padding: 13px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: ease all 0.2s;
}
.left-panel .left-side .item:hover {
  cursor: pointer;
  transform: scale(1);
}
.left-panel .left-side .item svg {
  height: 30px;
  width: 30px;
}
.left-panel .left-side .item p {
  margin-top: 10px;
}
.left-panel .templates-list {
  margin-top: 20px;
}
.left-panel .templates-list p {
  padding: 5px 0 5px 20px;
  border-bottom: 1px solid rgba(37, 37, 37, 0.5);
}
.left-panel .templates-list p:first-child {
  border-top: 1px solid rgba(37, 37, 37, 0.5);
}
.left-panel .templates-list p:hover {
  cursor: pointer;
}
.left-panel .component-list-wrapper {
  padding-top: 20px;
  flex: 1;
  overflow: auto;
}
.left-panel .component-list-wrapper h2 {
  text-align: center;
}
.left-panel .component-list-wrapper .components-list {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.left-panel .component-list-wrapper .components-list .card {
  display: flex;
  justify-content: center;
}
.left-panel .component-list-wrapper .components-list .card p {
  font-size: 20px;
}
.left-panel .component-list-wrapper .components-list .card p:hover {
  cursor: grab;
}
.left-panel .component-list-wrapper .tree-wrapper {
  margin: 20px 0;
}
.left-panel .component-list-wrapper .tree-wrapper .tree-item {
  position: relative;
  display: inline-block;
  min-width: 100%;
  width: auto;
  padding: 5px 0;
  box-sizing: border-box;
  word-break: keep-all;
  white-space: nowrap;
  border-bottom: 1px solid rgba(37, 37, 37, 0.5);
}
.left-panel .component-list-wrapper .tree-wrapper .tree-item:hover {
  cursor: pointer;
}
.left-panel .component-list-wrapper .tree-wrapper .tree-item .tree-item-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.left-panel .component-list-wrapper .tree-wrapper .tree-item .tree-item-content p {
  margin-left: 5px;
}
.left-panel .component-list-wrapper .tree-wrapper .tree-item .tree-item-content svg {
  margin-left: 5px;
  transition: ease all 0.3s;
}
.left-panel .component-list-wrapper .tree-wrapper .tree-item .tree-item-content svg.close {
  transform: rotate(0);
}
.left-panel .component-list-wrapper .tree-wrapper .tree-item .tree-item-content svg.open {
  transform: rotate(90deg);
}
.left-panel .component-list-wrapper .tree-wrapper .tree-item:first-child {
  border-top: 1px solid rgba(37, 37, 37, 0.5);
}

.center-panel {
  min-height: 100%;
  flex: 1;
}
.center-panel * {
  box-sizing: border-box;
}
.center-panel .title {
  margin: 20px 0;
  font-size: 28px;
  text-align: center;
}

.right-panel {
  overflow: auto;
  height: 100vh;
  max-height: 100vh;
  width: 400px;
  min-width: 400px;
  max-width: 50%;
  background: #bcbcbc;
}
.right-panel button {
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #969393;
}
.right-panel button:hover {
  cursor: pointer;
}
.right-panel button.selected {
  background: #7d7979;
  font-weight: bold;
}
.right-panel .css-26l3qy-menu {
  z-index: 5;
}
.right-panel h1 {
  margin-top: 20px;
  text-align: center;
}
.right-panel .position-btn-wrap {
  margin-left: auto;
}
.right-panel .position-btn-wrap button:nth-child(2) {
  margin: 0 10px;
}
.right-panel .clear-btn-wrap {
  margin-left: auto;
}
.right-panel h3 {
  text-align: center;
  font-style: italic;
}
.right-panel .options {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.right-panel .options .label-d {
  margin-bottom: 5px;
}
.right-panel .options .code-textarea {
  margin: 20px 0;
}
.right-panel .options .code-textarea textarea {
  width: 100%;
  border: 0;
  min-height: 100px;
  resize: vertical;
  padding: 10px;
}
.right-panel .options .group {
  margin-bottom: 15px;
}
.right-panel .options .group .heading {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-style: italic;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.right-panel .options .group .heading:hover {
  cursor: pointer;
}
.right-panel .options .group .heading svg {
  transition: ease all 0.3s;
  margin-left: auto;
}
.right-panel .options .group .heading svg.open {
  transform: rotate(90deg);
}
.right-panel .options .group .wrap-section {
  overflow: hidden;
  transition: ease-out all 0.3s;
}
.right-panel .options .group .wrap-section.open {
  overflow: unset;
  max-height: 500px;
}
.right-panel .options .group .wrap-section.closed {
  max-height: 0;
}
.right-panel .options .group .wrap-section .bg-color {
  display: flex;
}
.right-panel .options .group .wrap-section .bg-color .border {
  margin-right: 10px;
}
.right-panel .options .group .wrap-section .radio-wrapper {
  display: flex;
  align-items: center;
}
.right-panel .options .group .wrap-section .radio-wrapper label {
  margin-right: 10px;
}
.right-panel .options .group .wrap-section .radio-wrapper input {
  width: 15px;
  height: 15px;
}
.right-panel .options .group .styling {
  display: grid;
  grid-template-columns: 3fr 4fr;
  margin-bottom: 5px;
}
.right-panel .options .group .border-col {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.right-panel .options .group .border-col .cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}
.right-panel .options .group .border-col .picker-pos {
  position: absolute;
  top: -240px;
  right: 0;
}
.right-panel .options .group .border-col .picker-pos * {
  z-index: 10000;
}
.right-panel .options .group .border-col .border {
  background-color: white;
  height: 30px;
  width: 80px;
}
.right-panel .options .group .border-col .border:hover {
  cursor: pointer;
}
.right-panel .options .group .styling-4 {
  width: 100%;
  margin-bottom: 5px;
}
.right-panel .options .group .styling-4 .box {
  margin-bottom: 10px;
  display: flex;
}
.right-panel .options .group .styling-4 .box .select {
  margin-left: auto;
}
.right-panel .options .group .styling-4 .box .select select {
  width: 80px;
}
.right-panel .options .group .styling-4 .input-wrap {
  margin-left: auto;
  width: 80px;
}
.right-panel .options .group .styling-4 .input-wrap input {
  padding-left: 10px;
}
.right-panel .options .group .styling-4 .p {
  width: calc(3 / 7 * 100%);
  line-height: 30px;
}
.right-panel .options .group .styling-4 .all-style {
  display: flex;
  margin-left: auto;
  width: 60px;
  position: relative;
}
.right-panel .options .group .styling-4 .all-style input {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
}
.right-panel .options .group .styling-4 .all-style input[disabled] ~ .px {
  background: #a8a6a3;
}
.right-panel .options .group .styling-4 .all-style .px {
  background-color: #faf7f3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid gray;
  border-left: none;
  padding-right: 5px;
}
.right-panel .options .group .styling-4 .four-div {
  width: calc(4 / 7 * 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-panel .options .group .styling-4 .four-div .settings {
  display: flex;
  justify-content: space-around;
  width: 80px;
}
.right-panel .options .group .styling-4 .four-div .settings img {
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  background-color: #252525;
  width: 30px;
  height: 30px;
}
.right-panel .options .group .styling-4 .multiple {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.right-panel .options .group .styling-4 .multiple .label {
  text-transform: capitalize;
  margin-bottom: 5px;
}
.right-panel .options .group .styling-4 .multiple .all-style {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.right-panel .options .group .styling-4 .multiple .all-style .with-px {
  display: flex;
}
.right-panel .options .section-directions {
  display: flex;
}
.right-panel .options .section-directions .row-wrap, .right-panel .options .section-directions .col-wrap {
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-panel .options .section-directions .row-wrap .preview, .right-panel .options .section-directions .col-wrap .preview {
  width: calc(100% - 50px);
}
.right-panel .options .section-directions .row-wrap .preview:hover, .right-panel .options .section-directions .col-wrap .preview:hover {
  cursor: pointer;
}
.right-panel .options .section-directions .circle {
  border-radius: 50%;
  background: rgba(37, 37, 37, 0.5);
  position: relative;
  height: 25px;
  width: 25px;
}
.right-panel .options .section-directions .circle:hover {
  cursor: pointer;
}
.right-panel .options .section-directions .circle.selected:after {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: block;
  content: "";
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 12.5px;
  width: 12.5px;
}
.right-panel .options .section-directions .row-wrap .preview {
  display: flex;
}
.right-panel .options .section-directions .row-wrap .preview .sec {
  width: 80px;
  height: 50px;
  border: 2px dashed rgba(37, 37, 37, 0.5);
}
.right-panel .options .section-directions .col-wrap .preview {
  display: flex;
  flex-direction: column;
}
.right-panel .options .section-directions .col-wrap .preview .sec {
  width: 80px;
  height: 50px;
  border: 2px dashed rgba(37, 37, 37, 0.5);
}

.two-col-preview {
  display: flex;
  height: 100%;
  min-height: 40px;
  width: 100%;
}
.two-col-preview .box {
  width: 100%;
}
.two-col-preview .box:nth-child(1) {
  border-right: 2px dashed rgba(128, 128, 128, 0.7);
}

.three-col-preview {
  display: flex;
  height: 100%;
  min-height: 40px;
  width: 100%;
}
.three-col-preview .box {
  width: 100%;
}
.three-col-preview .box:nth-child(1) {
  border-right: 2px dashed rgba(128, 128, 128, 0.7);
}
.three-col-preview .box:nth-child(2) {
  border-right: 2px dashed rgba(128, 128, 128, 0.7);
}

.image-type-preview {
  width: 100%;
  height: 70px;
  display: flex;
  background: #dfdfdf;
  justify-content: center;
  align-items: center;
}
.image-type-preview img {
  max-height: 90%;
  max-width: 90%;
}

.code-type-preview-jsx {
  height: 100%;
}
.code-type-preview-jsx pre {
  margin: 0;
}

.card-preview {
  cursor: pointer;
}
.card-preview:hover {
  cursor: pointer;
}
.card-preview.text-card {
  font-weight: bold;
  font-style: italic;
}
.card-preview.drop-col-2-preview {
  width: 100px;
  height: 40px;
  display: flex;
}
.card-preview.drop-col-2-preview .box {
  border: 2px dashed gray;
  height: 40px;
  width: 100%;
}
.card-preview.drop-col-2-preview.drop-col-3-preview {
  width: 130px;
}
.card-preview.image-preview img {
  width: 69px;
  height: 56px;
}

.preview-section .section {
  width: 100%;
}
.preview-section .section.clickable {
  cursor: pointer;
}
.preview-section .droppable {
  min-height: 50px;
  height: 100%;
  border: 2px dashed rgba(128, 128, 128, 0.7);
  text-overflow: "...";
  overflow: hidden;
}
.preview-section .droppable.between {
  display: none;
  height: 10px;
  min-height: 10px;
  border: 2px dashed rgba(128, 128, 128, 0.7);
}
.preview-section .droppable.between.show {
  display: block;
}
.preview-section .droppable.is-over {
  min-height: 50px;
  height: 100%;
}
.preview-section .droppable-col-2 {
  width: 100%;
  display: flex;
}
.preview-section .droppable-col-2.column {
  flex-direction: column;
}
@media only screen and (max-width: 900px) {
  .preview-section .droppable-col-2.column-mobile {
    flex-direction: column !important;
  }
}
.preview-section .droppable-col-3 {
  width: 100%;
  display: flex;
}
.preview-section .droppable-col-3.column {
  flex-direction: column;
}
@media only screen and (max-width: 900px) {
  .preview-section .droppable-col-3.column-mobile {
    flex-direction: column !important;
  }
}

.image-section {
  border: 2px dashed #a8a8a8;
  transition: ease all 0.3s;
  background: #dfdfdf;
  position: relative;
  text-align: center;
}
.image-section.accept {
  background-color: #f3f3f3;
}
.image-section.empty {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section.empty p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-section.empty p span:nth-child(2) {
  margin-top: 5px;
}

.code-section pre {
  margin: 0 !important;
}

.img-section {
  display: flex;
}
.img-section.left {
  justify-content: flex-start;
}
.img-section.right {
  justify-content: flex-end;
}
.img-section.center {
  justify-content: center;
}

/*# sourceMappingURL=App.css.map */
