p {
  margin: 0;
}

input, select {
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  background-color: #faf7f3;
  border: 1px solid gray;
}

input[disabled] {
  background-color: #a8a6a3;
}

.App {
  display: flex;
  min-height: 100vh;
}
.App .left-panel *, .App .right-panel * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.left-panel {
  min-width: 300px;
  background: #dcd9d5;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}
.left-panel h1 {
  margin-top: 20px;
  text-align: center;
}
.left-panel .components-list {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.left-panel .components-list .card {
  display: flex;
  justify-content: center;
}
.left-panel .components-list .card p {
  font-size: 20px;
}
.left-panel .components-list .card p:hover {
  cursor: grab;
}

.center-panel {
  min-height: 100%;
  flex: 1;
}
.center-panel .title {
  margin: 20px 0;
  text-align: center;
}

.right-panel {
  overflow: auto;
  height: 100vh;
  max-height: 100vh;
  width: 400px;
  min-width: 400px;
  max-width: 50%;
  background: #bcbcbc;
}
.right-panel h1 {
  margin-top: 20px;
  text-align: center;
}
.right-panel h3 {
  text-align: center;
  font-style: italic;
}
.right-panel .options {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.right-panel .options .group {
  margin-bottom: 15px;
}
.right-panel .options .group .heading {
  font-size: 22px;
  font-style: italic;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.right-panel .options .group .styling {
  display: grid;
  grid-template-columns: 3fr 4fr;
  margin-bottom: 5px;
}
.right-panel .options .group .border-col {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.right-panel .options .group .border-col .cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}
.right-panel .options .group .border-col .picker-pos {
  position: absolute;
  top: -240px;
  right: 0;
}
.right-panel .options .group .border-col .picker-pos * {
  z-index: 10000;
}
.right-panel .options .group .border-col .border {
  background-color: white;
  height: 30px;
  width: 80px;
}
.right-panel .options .group .border-col .border:hover {
  cursor: pointer;
}
.right-panel .options .group .styling-4 {
  width: 100%;
  margin-bottom: 5px;
}
.right-panel .options .group .styling-4 .box {
  margin-bottom: 10px;
  display: flex;
}
.right-panel .options .group .styling-4 .box .select {
  margin-left: auto;
}
.right-panel .options .group .styling-4 .box .select select {
  width: 80px;
}
.right-panel .options .group .styling-4 .input-wrap {
  margin-left: auto;
  width: 80px;
}
.right-panel .options .group .styling-4 .input-wrap input {
  padding-left: 10px;
}
.right-panel .options .group .styling-4 .p {
  width: calc(3 / 7 * 100%);
  line-height: 30px;
}
.right-panel .options .group .styling-4 .all-style {
  display: flex;
  margin-left: auto;
  width: 60px;
  position: relative;
}
.right-panel .options .group .styling-4 .all-style input {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
}
.right-panel .options .group .styling-4 .all-style input[disabled] ~ .px {
  background: #a8a6a3;
}
.right-panel .options .group .styling-4 .all-style .px {
  background-color: #faf7f3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid gray;
  border-left: none;
  padding-right: 5px;
}
.right-panel .options .group .styling-4 .four-div {
  width: calc(4 / 7 * 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-panel .options .group .styling-4 .four-div .settings {
  display: flex;
  justify-content: space-around;
  width: 80px;
}
.right-panel .options .group .styling-4 .four-div .settings img {
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  background-color: #252525;
  width: 30px;
  height: 30px;
}
.right-panel .options .group .styling-4 .multiple {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.right-panel .options .group .styling-4 .multiple .label {
  text-transform: capitalize;
  margin-bottom: 5px;
}
.right-panel .options .group .styling-4 .multiple .all-style {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.right-panel .options .group .styling-4 .multiple .all-style .with-px {
  display: flex;
}

.two-col-preview {
  display: flex;
  height: 100%;
  min-height: 40px;
  width: 100%;
}
.two-col-preview .box {
  width: 100%;
}
.two-col-preview .box:nth-child(1) {
  border-right: 2px dashed rgba(128, 128, 128, 0.7);
}

.three-col-preview {
  display: flex;
  height: 100%;
  min-height: 40px;
  width: 100%;
}
.three-col-preview .box {
  width: 100%;
}
.three-col-preview .box:nth-child(1) {
  border-right: 2px dashed rgba(128, 128, 128, 0.7);
}
.three-col-preview .box:nth-child(2) {
  border-right: 2px dashed rgba(128, 128, 128, 0.7);
}

.image-type-preview {
  width: 100%;
  height: 100%;
  display: flex;
  background: #dfdfdf;
  justify-content: center;
  align-items: center;
}
.image-type-preview img {
  max-height: 90%;
  max-width: 90%;
}

.card-preview {
  cursor: pointer;
}
.card-preview:hover {
  cursor: pointer;
}
.card-preview.text-card {
  font-weight: bold;
  font-style: italic;
}
.card-preview.drop-col-2-preview {
  width: 100px;
  height: 40px;
  display: flex;
}
.card-preview.drop-col-2-preview .box {
  border: 2px dashed gray;
  height: 40px;
  width: 100%;
}
.card-preview.drop-col-2-preview.drop-col-3-preview {
  width: 130px;
}

.preview-section .section {
  width: 100%;
}
.preview-section .section.clickable {
  cursor: pointer;
}
.preview-section .droppable {
  min-height: 50px;
  height: 100%;
  border: 2px dashed rgba(128, 128, 128, 0.7);
  text-overflow: "...";
  overflow: hidden;
}
.preview-section .droppable.between {
  display: none;
  height: 10px;
  min-height: 10px;
  border: 2px dashed rgba(128, 128, 128, 0.7);
}
.preview-section .droppable.between.show {
  display: block;
}
.preview-section .droppable.is-over {
  min-height: 50px;
}
.preview-section .droppable-col-2 {
  width: 100%;
  display: flex;
}
.preview-section .droppable-col-3 {
  width: 100%;
  display: flex;
}

.image-section {
  border: 2px dashed #a8a8a8;
  transition: ease all 0.3s;
  background: #dfdfdf;
  position: relative;
  text-align: center;
}
.image-section.accept {
  background-color: #f3f3f3;
}
.image-section.empty {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section.empty p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-section.empty p span:nth-child(2) {
  margin-top: 5px;
}

/*# sourceMappingURL=App.css.map */
