.left-panel {
  min-width: 300px;
  width: 300px;
  background: #dcd9d5;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  display: flex;

  .left-side {
    border-right: 1px solid $lightGray;
    width: 100px;

    .divider {
      height: 1px;
      width: 100%;
      background: $lightGray;
    }

    .item {
      transform: scale(0.9);
      padding: 13px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //border-bottom: 1px solid $lightGray;
      transition: ease all 0.2s;

      &:hover {
        cursor: pointer;
        transform: scale(1);
      }

      svg {
        height: 30px;
        width: 30px;
      }

      p {
        text-align: center;
        margin-top: 10px;
      }
    }
  }

  .templates-list {
    margin-top: 20px;

    p {
      padding: 5px 0 5px 20px;
      border-bottom: 1px solid $lightGray;

      &:first-child {
        border-top: 1px solid $lightGray;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .component-list-wrapper {
    padding-top: 20px;
    flex: 1;
    overflow: auto;

    h2 {
      text-align: center;
    }
    .components-list {
      display: flex;
      flex-direction: column;
      margin: 20px 0;

      .card {
        display: flex;
        justify-content: center;

        p {
          font-size: 20px;
          &:hover {
            cursor: grab;
          }
        }
      }
    }

    .tree-wrapper {
      margin: 20px 0;
      .tree-item {
        position: relative;
        display: inline-block;
        min-width: 100%;
        width: auto;
        padding: 5px 0;
        box-sizing: border-box;
        word-break: keep-all;
        white-space: nowrap;
        border-bottom: 1px solid $lightGray;

        &:hover {
          cursor: pointer;
        }

        .tree-item-content {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          p {
            margin-left: 5px;
          }

          svg {
            margin-left: 5px;
            transition: ease all 0.3s;
            &.close {
              transform: rotate(0);
            }

            &.open {
              transform: rotate(90deg);
            }
          }
        }

        &:first-child {
          border-top: 1px solid $lightGray;
        }
      }
    }
  }
}