* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body.resizing {
  cursor: col-resize;
}

.App {
  display: flex;
  min-height: 100vh;
}
.App .left-panel {
  width: 20%;
  background: #dcd9d5;
  min-height: 100%;
}
.App .left-panel h1 {
  margin-top: 20px;
  text-align: center;
}
.App .center-panel {
  min-height: 100%;
  flex: 1;
}
.App .center-panel .title {
  margin: 20px 0;
  text-align: center;
}
.App .right-panel {
  position: relative;
  min-height: 100%;
  width: 20%;
  min-width: 240px;
  max-width: 50%;
  background: #bcbcbc;
}
.App .right-panel .resize-handle {
  position: absolute;
  height: 100%;
  width: 10px;
}
.App .right-panel .resize-handle:hover {
  cursor: col-resize;
}
.App .right-panel h1 {
  margin-top: 20px;
  text-align: center;
}
.App .right-panel h3 {
  text-align: center;
  font-style: italic;
}
.App .right-panel .options {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.App .components-list {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.App .components-list .card {
  display: flex;
  justify-content: center;
}
.App .components-list .card p {
  font-size: 20px;
}
.App .components-list .card p:hover {
  cursor: grab;
}

.two-col-preview {
  display: flex;
  height: 100%;
  width: 100%;
}
.two-col-preview .box {
  width: 100%;
}
.two-col-preview .box:nth-child(1) {
  border-right: 2px dashed rgba(128, 128, 128, 0.7);
}

.three-col-preview {
  display: flex;
  height: 100%;
  width: 100%;
}
.three-col-preview .box {
  width: 100%;
}
.three-col-preview .box:nth-child(1) {
  border-right: 2px dashed rgba(128, 128, 128, 0.7);
}
.three-col-preview .box:nth-child(2) {
  border-right: 2px dashed rgba(128, 128, 128, 0.7);
}

.image-type-preview {
  width: 100%;
  height: 100%;
  display: flex;
  background: #dfdfdf;
  justify-content: center;
  align-items: center;
}
.image-type-preview img {
  max-height: 90%;
  max-width: 90%;
}

.card-preview {
  cursor: pointer;
}
.card-preview:hover {
  cursor: pointer;
}
.card-preview.text-card {
  font-weight: bold;
  font-style: italic;
}
.card-preview.drop-col-2-preview {
  width: 100px;
  height: 40px;
  display: flex;
}
.card-preview.drop-col-2-preview .box {
  border: 2px dashed gray;
  height: 40px;
  width: 100%;
}
.card-preview.drop-col-2-preview.drop-col-3-preview {
  width: 130px;
}

.preview-section .section {
  width: 100%;
}
.preview-section .section.clickable {
  cursor: pointer;
}
.preview-section .droppable {
  height: 50px;
  border: 2px dashed rgba(128, 128, 128, 0.7);
  text-overflow: "...";
  overflow: hidden;
}
.preview-section .droppable.between {
  display: none;
  height: 10px;
  border: 2px dashed rgba(128, 128, 128, 0.7);
}
.preview-section .droppable.between.show {
  display: block;
}
.preview-section .droppable.is-over {
  height: 50px;
}
.preview-section .droppable-col-2 {
  width: 100%;
  display: flex;
}
.preview-section .droppable-col-3 {
  width: 100%;
  display: flex;
}

.image-section {
  border: 2px dashed #a8a8a8;
  transition: ease all 0.3s;
  background: #dfdfdf;
  position: relative;
}
.image-section.accept {
  background-color: #f3f3f3;
}
.image-section.empty {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section.empty p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-section.empty p span:nth-child(2) {
  margin-top: 5px;
}

/*# sourceMappingURL=App.css.map */
